

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.bloque {
  display: flex;
  height: 100vh;
}

.star_bloque {
  display: flex;
  background-color: #fff;
  justify-content: start;
  align-content: start;
  width: 100%;
  height: 100%;
}

.end_bloque {
  display: flex;
  background-color: #dc7712;
  padding: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.formulario {
  display: block;
  justify-content: center;
  align-content: center;
  width: 300px;
}

.caja-form {
  background-color: #ffff;
  border-radius: 8px;
  padding: 40px;
  /*espaciado interno*/
  box-shadow: 0 4px 8px #581301;
  height: auto;
  text-align: center;
}



#jap_logo {
  width: 60%;
  height: auto;
  justify-items: center;
  margin-bottom: 30px;
}

.caja-form h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
}

.controles {
  position: relative;
}

.controles i {
  position: absolute;
  right: 5px;
  top: 11px;
  color: #dc7712;
}

.controles>input {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #dc7712;
  outline: none;

}

.controles input:hover {
  background-color: rgb(243, 201, 208);
}

.boton {
  justify-items: center;
  font-size: 1.1rem;
  background-color: #dc7712;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 15px;
  font-weight: 600;
  text-decoration: none;

}


#mercado {

  justify-content: start;
  width: 650px;
  height: auto;
  object-position: center;

}


#products-page {
  background-color: #dc7712;

}


.card {
  margin: 20px;
  border-radius: 20px;
  border-color: gray;
  border-width: 3px;
  overflow: hidden;
}

#mercado {
  justify-content: start;
  width: 650px;
  height: auto;
  object-position: center;

}


#parrafo,
a {
  color: black;
}
/*pagina de product.html*/

.pb-5_container{
  display:flex;
}
#controlesFiltro {
  width: 300px; 
  padding: 30px;
  background-color: #dc7712;;
  display: inline-block; 
  align-items: start; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
  justify-content: start;
  align-content:start;
  color: #fff;
}

#mostrar{
  display: block;
  padding-left: 150px;
}

.control {
  padding: 5px 10px;
  margin: 5px 0; 
  cursor: pointer; 
  text-align: start; 
  font-size: 0.875rem; 
  border: 1px solid #ced4da; 
  border-radius: 4px; 
  background-color:#fff;
  color: #dc7712;
}

.control:hover {
  background-color:#dc7712;
  color :#fff;
  border:5px solid #fff;
  border-radius: 4px;
} 

#username {
  display: flex;
  justify-content: center;
  color :  #dc7712;
  align-items: center;
}
.card {
  margin: 20px;
  border-radius: 20px;
  border-color: gray;
  border-width: 3px;
  overflow: hidden;

}
#products-page {
  background-color: #e2e2e2
}
  
/*PRODUCT-INFO*/
#product-category {
  font-size: 15px;
}

.product-info {
  background-color: #d4c9c0;
}

.carouselExample {
  position: relative;
  flex: 1;
}

.carousel-inner {
  max-width: 800px;
  width: 800px;
}

.product-info-description {
  flex: 1;
}

.container-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}



.borde {
  padding: 30px;
  max-width: 550px;
  border: 2px solid rgb(192 184 173);
  border-radius: .25rem;
  background-color: rgb(245 235 222);
  max-height: 1500px;
  width: 450px;
  height: 470px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -25px;

}

.product-info-description button {
  background-color: #dc7712;
  border-radius: 10px;
  border: 3px solid #dc7712;
  color: rgb(247, 246, 246);
  font-weight: 700;
  width: 200px;
  position: relative;
  left: 100px;
  bottom: 60px;
  border-style: none;
  

}

.product-info-description button:hover {
  background-color: transparent;
  color: #dc7712;
  font-weight: 700;
  border: 3px solid #dc7712;
  
}

.related-products-container {

  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 80px;
}

.related-products-container img {
  width: 250px;
}


.product-info-description button:focus {
  outline: none; 
  box-shadow: none; 
  background-color: #dc7712; 
  color: black; 
}

.containerVendCat {
  display: flex;
  flex-direction: column-reverse;
}

.cntd {
  width: 50px;
  background-color: rgb(245 235 222);
  position: relative;
  left: 300px;
  top: -70px;
}



/*crear comentario*/

.container__exp {
  display: flex;
  margin: 20px;
  
  justify-content:center
  
  
}
#experiencia.borde {
  height: 460px;
  padding: 30px 30px;
  width: 350px;
  display: flex;
  position: sticky;

}

#experiencia p {
  display: block; 
  text-align: center;
  margin-bottom: 20px; 
  font-weight: bold;
  color: black;
}


#experiencia input, textarea {
  background-color: #d4c9c0;
  border-radius: 10px;
  border-style: none;
  width: 100%; 
  padding: 10px;
  margin-bottom: 20px; 
}

.calificacion {
  display: flex;
  text-align: justify;
  padding-top: 10px;
}

.estrella {
  font-size: 1rem; 
  color: rgb(187, 174, 174); 
  border-width: 3px;
  border-color: black,  ;
  cursor: pointer;
  padding: 5px;
}

.estrella:hover,
.estrella.seleccionada {
  color: gold; 
}

#enviarComentario {
  background-color: #dc7712;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: #e2e2e2;
  font-weight: 900px;
  display: block; 
  border: 3px solid #dc7712;
  position: relative;
  left: 100px;
}


/*secion de comentarios*/
#mostrarComentarios{
  position: relative;
  top: -40px;
}
.card-body{
  width: 700px;
  
}


/* Resoluci칩n Est치ndar */
@media screen and (min-width: 1366px) and (max-width: 768px) {
  body {

    background-color: #dc7712;
    font-family: Arial, sans-serif;
    margin-top: 10px
  }

  img-auto {
    margin-top: 10px;
  }

}

/* Resoluci칩n Tableta en Modo Vertical*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #dc7712;
    font-family: Arial, sans-serif;
  }

  #parrafo,
  a {
    font-size: 1em;
  }

  img-auto {
    margin-top: 10px;
  }

  .star_bloque {
    display: none;
  }

}


/*Resoluci칩n Iphone SE*/
@media screen and (min-width:320px) and (max-width:568px) {
  body {
    background-color: #dc7712;
    font-family: Arial, sans-serif;
  }

  #parrafo,
  a {
    font-size: 1em;
  }

  .img-auto {
    margin-top: 15px;
    border-radius: 10px;
  }

  .star_bloque {
    display: none;
  }
}



