*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body {
    font-family: Arial, sans-serif;
  }
  
  .bloque {
    display:flex;
    height: 100vh;
  }


  .star_bloque { 
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }



  .end_bloque{
    display: flex;
    background-color: #dc7712;
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  


.formulario{
  display: block;
  justify-content: center;
  align-content:center;
  width: 300px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


  
  
}


.caja-form{
  background-color: #ffff;
  border-radius: 8px;
  padding: 40px; /*espaciado interno*/
  box-shadow: 0 4px 8px #581301;
  height: auto;
  text-align: center;
  
  
}
.caja-form h2{ 
  font-size: 2rem;
  margin-bottom:1.5rem;
  background-color: #fff;
}


.controles > input { 
  width: 100%;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #dc7712;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

.controles input:hover {
  background-color: rgb(243, 201, 208);
}



.boton{
  justify-content: center;
  justify-items: center;
  font-size: 1.1rem;
  background-color: #dc7712;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 15px;
  font-weight: 800;
  text-decoration: none;
  
}

#mercado {
width: 700px;
height: auto;
}